/*
 * rxFloatingHeader
 */
.rx-floating-header {
    position: fixed;
    z-index: 1;
    opacity: 0.96;
}


// For tables with filters, style filter th differently
table.servers-list {
    tr:nth-child(1) th {
        font-weight: normal;
        background: rgba(255, 255, 255, 0.95);
        border: 1px solid #e1e0df;
        input.filter-box {
            color: #404040;
        }
        button {
            margin: 0;
        }
    }
}
