/*
 * rxFloatingHeader
 */
.rx-floating-header {
    position: fixed;
    z-index: 1;
    opacity: 0.96;
    th {
        background: rgba(135, 135, 135, 0.95);
    }
}

th.filter {
    background: rgba(255, 255, 255, 0.95);
}

// For servers list, align floating header with status column
table.servers-list {
    .rx-floating-header {
        margin-left: -5px;
    }
}
